@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.custom-navbar {
  background: linear-gradient(90deg, #1F1C2D, #853728);
border-bottom: 1px solid #ffffff; /* grosor, estilo y color */
}

.custom-navbar .nav-link {
  color: #ffffff;
  font-weight: 500;
  margin: 0 8px;
}

.custom-navbar .nav-link:hover {
  color: #ffb703;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
  filter: invert(1);
}

.btn-outline-light {
  color: var(--offwhite);
  border-color: var(--offwhite);
}

.btn-outline-light:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}

.d-flex {
  align-items: center;
  gap: 10px;
}

strong {
  color: var(--offwhite);
}

svg {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  color: var(--offwhite);
}

svg:hover {
  color: var(--orange);
}


/* Pantallas pequeñas: botones en columna */
@media (max-width: 325px) {
  .d-flex
   {
    display: flex;
    flex-direction: column;
  }
}

/*para actualzizar*/

.position-relative {
    position: relative !important;
}

/* Estilo del Badge */
.cart-badge {
    font-size: 0.7rem;
    padding: 0.35em 0.6em;
    background-color: #ff4757 !important; /* Rojo vibrante */
    color: white !important;
    font-weight: bold;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 9999;}


svg {
    color: white; 
    width: 28px;
    height: 28px;
}

/* Ocultar cuando no esta logeado */
.oculto {
    display: none;
    list-style: none;
}

/* Estilo para el mensaje de bienvenida */
#mensajeBienvenida {
    color: white;
}

/* Estilo para boton de cerrar sesión 
#btnLogout {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
*/