@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.custom-navbar {
  background: linear-gradient(90deg, #1F1C2D, #853728);
border-bottom: 1px solid #ffffff; /* grosor, estilo y color */
}

.custom-navbar .nav-link {
  color: #ffffff;
  font-weight: 500;
  margin: 0 8px;
}

.custom-navbar .nav-link:hover {
  color: #ffb703;
}
.custom-navbar a.position-relative {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 0 !important; /* Quitamos el margen izquierdo solo aquí */
    margin-right: 5px; /* Si quieres espacio, úsalo a la derecha */
}
/* Contenedor del carrito */
.cart-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff !important;
    overflow: visible !important; 
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
  filter: invert(1);
}

.btn-outline-light {
  color: var(--offwhite);
  border-color: var(--offwhite);
}

.btn-outline-light:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}

.d-flex {
  align-items: center;
  gap: 10px;
}

strong {
  color: var(--offwhite);
}

svg {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  color: var(--offwhite);
}

svg:hover {
  color: var(--orange);
}


/* Pantallas pequeñas: botones en columna */
@media (max-width: 325px) {
  .d-flex
   {
    display: flex;
    flex-direction: column;
  }
}

/*para actualzizar*/
.cart-badge {
    /* Bdge como círculo perfecto */
    min-width: 18px;
    height: 18px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 10px !important;
    font-weight: bold;
    /* Ajuste de posición para que no se pierda en Desktop */
    top: 0 !important;
    right: 0 !important;
    transform: translate(25%, -25%) !important; 
    z-index: 100;
    border: 1px solid white; /* Lo hace resaltar sobre el fondo oscuro */
}