

        .contenedor-carrito {
            background-color: var(--offwhite);
            border-radius: 2rem;
            overflow: hidden;
            border: none;
        }


        h2, h3, h4, h5, h6 {
        font-family: var(--fuente-principal);
        font-weight: 700; /* Negrita para títulos */
        color: var(--night);
        }

        .columna-productos {
            background-color: var(--offwhite);
            padding: 2rem;
        }

        .columna-resumen {
            background-color: var(--offwhite);
            border-left: 1px solid var(--night);
            padding: 2rem;

            border-bottom: var(--night);
        }
        
        
        .item-producto {
            border-bottom: 1px solid var(--night);
            padding: 1.5rem 0;
            transition: background-color 0.3s;
        }

        /* Al pasar el mouse por un producto se ilumina un poco */
        .item-producto:hover {
            background-color: #fafafa;
        }

        .selector-cantidad {
            background-color: #f1f1f1;
            border-radius: 50px;
            padding: 5px 15px;
            display: inline-flex;
            align-items: center;
        }

        .boton-principal-pago {
            background: #E86C1A;
            border: none;
            color: white;
            padding: 8px 30px;
            border-radius: 10px;
            font-size: 0.9rem;
            transition: 0.3s;
            font-weight: 600;
        }

        .boton-principal-pago:hover {
            background-color: #d66d28;
            color: white;
            transform: scale(1.02);
        }

        .etiqueta-descuento {
            background-color: #f28131;
            color: white;
            border-radius: 20px;
            padding: 2px 12px;
            font-size: 0.8rem;
        }
        .divisores-div{
             border-bottom: 1px solid var(--night);
            
        }

        .container{
            padding-top: 3%;
        }

        .boton-volver{
            background: #E86C1A;
            border: none;
            color: white;
            padding: 8px 30px;
            border-radius: 10px;
            font-size: 0.9rem;
            transition: 0.3s;
            font-weight: 600;
        }
        