/*.onda {
    position: absolute;
    bottom: 0;
     width: 100%;
    height: 100px;
    z-index: 1;
}*/






@media screen and (min-width: 350px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
    display: block;
  }
}

.carousel-inner{
    padding: 0.5em;
}
.card{
    margin: 3em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    object-fit: cover;
}
.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 2%;
    left: auto;
    right: 0;

    
}


/* Tarjetas del catálogo*/
.card-catalogo {
  background-color: #3b3551;
  border-radius: 20px;
  padding: 14px;
  border: none;
  box-shadow: 0 18px 40px rgba(0,0,0,.35);
}

/* Imagen */
.card-catalogo img {
  height: 220px;
  object-fit: contain;
  background-color: #2f2a44; /* mismo tono oscuro */
}

/* Cuerpo */
.card-catalogo .card-body {
  padding: 10px 4px 4px;
}

/* Textos */
.card-catalogo .card-title {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 6px;
}

.card-catalogo .card-subtitle {
  color: #ffffff !important; /* pisa Bootstrap */
  font-size: 1.05rem;
  font-weight: 700;
  margin-bottom: 6px;
}

.card-catalogo .card-text {
  color: #d1d1d1;
  font-size: .9rem;
}