:root {
    --gold: #F2A23A;
    --orange: #E86C1A;
    --bg-card: #2f2a44;
    --transparencia: rgba(255, 255, 255, 0.08);
}

/* --- FONDO ONDULADO --- */
.fondo {
    position: absolute;
    bottom: 1;
    left: 0;
    width: 100%;
    height: 970px;
    z-index: -1;
    margin: 0;
}

/* --- TITULO --- */

.productos {
    margin: 3rem 0 2rem 0;
}

h2.productos {
    display: inline-block;
}

h2.productos span {
    color: var(--orange);
}


/* --- CARRUSEL --- */
#recommended-carousel .carousel-item {
    text-align: center;
    padding: 15px 0;
}

/* --- COLOR DE CARDS DE CARRUSEL --- */
#recommended-carousel .card {
    width: 100%;
    max-width: 300px;
    display: inline-block;
}




/* --- ESTILO y POSICION RESPONSIVA DE BOTONES DE CARRUSEL --- */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-radius: 50%;
    padding: 10px;
}

@media (min-width: 768px) {
    .carousel-control-prev {
        left: -75px;
    }

    .carousel-control-next {
        right: -75px;
    }
}

/* --- ESTILOS DEL FILTRO --- */
.filtro-card {
    background: var(--transparencia) !important;
}

h4 {
    color: var(--gold);
}

.c-buscar:focus {
    box-shadow: 0 0 8px var(--gold);
}

.form-check-input:checked {
    background-color: var(--gold);
    border-color: var(--gold);
}

/* --- ESTILO DE SLIDER DE PRECIO --- */
.form-range::-webkit-slider-thumb {
    background-color: var(--gold);
}


/* --- ESTILO DE TEXTO CATALOGO --- */
.estilo-t {
    color: var(--gold);
    text-align: center;
}


/* --- ESTILOS DE TARJETAS (CATÁLOGO Y CARRUSEL) --- */

.card {
    background: var(--bg-card);
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.card-img-top {
    height: 200px;
    /* Altura fija para que todas las cards midan lo mismo */
    object-fit: contain;
    background: #242038;
    padding: 15px;
}

.card-title {
    color: #F2F0F1;
    font-weight: 600;
    font-size: 1.1rem;
}

.card-subtitle {
    color: var(--gold);
    font-weight: 700;
}

.rating i {
    color: var(--gold);
}

.card-text {
    color: #D7D7D7;
    font-size: 0.9rem;
}

.btn-outline-warning {
    color: var(--orange);
    border-color: var(--orange) !important;
}

.btn-outline-warning:hover {
    background-color: var(--orange);
    color: white !important;
}