
@media screen and (min-width: 700px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 calc(100% / 5);
    display: block;
  }
}

.carousel-inner{
    padding: 0.5em;
}
.card{
    margin: 3em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    object-fit: cover;
}
.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translateY(-50%);
    top: -5%;
    right: 0;


}