/* ========CONTENEDORES DE IMAGENES============ */
.contenedor-img {
  width: 100%; /* Para que ocupe toda su columna */
  height: 250px; /* Para que todas las fotos midan lo mismo de alto */
  object-fit: cover; /* Para que la foto no se vea estirada */
  border-radius: 15px;
}

/* ========ANIMACIONES EN LOS CONTENEDORES========== */
.contenedor-img:hover {
  animation: shadow-drop-center 0.4s linear both;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.55);
  }
}
