/* ========CONTENEDORES DE IMAGENES============ */
.contenedor-img {
  width: 100%; /* Para que ocupe toda su columna */
  height: 250px; /* Para que todas las fotos midan lo mismo de alto */
  object-fit: cover; /* Para que la foto no se vea estirada */
  border-radius: 15px;
}


/* ========ANIMACIONES EN LOS CONTENEDORES========== */
.contenedor-img:hover {
  animation: shadow-drop-center 0.4s linear both;
}
/* Solo reduce el tamaño de la imagen del modal en la galería */
.pagina-galeria #modalContent img {
    max-width: 390px !important; /* Ajusta este número para el tamaño que quieras */
    height: auto !important;
    margin: 0 auto !important;
    display: block !important;
}


@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.55);
  }
}
/* Forzar espacio en Galería para móviles */
@media (max-width: 768px) {
    /* Seleccionamos el primer h1 que aparece después del navbar */
    body h1.text-center:first-of-type {
        margin-top: 120px !important; /* Aumentamos a 120px para estar seguros */
        display: block !important;
        position: relative !important;
        z-index: 1;
    }

    /* Ajuste para el subtítulo para que no quede pegado al h1 */
    body h4.text-center {
        margin-top: 20px !important;
        padding: 0 20px !important;
    }
}
