/* ================= COLORES ================= */
h1 {
  font-weight: 300;
  text-align: left;
}

.text-orange {
  color: #E86C1A;
  font-weight: 750;
}

.btn-catalogo { /*btn-orange*/
  background-color: #E86C1A;
  color: #fff;
  border: none;
}

.btn-catalogo:hover {
  background-color: #F2A23A;
}

.btn-regalo-light {
  border: 1px solid #E86C1A;
  background-color: #f2a23a10;
  color: #fff;
}

.btn-regalo-light:hover {
  background-color: #E86C1A;
  color: #fff;
}



/* ================= HERO ================= */
.hero-section {
  min-height: 90vh;
  background: linear-gradient(90deg,
    var(--night-opaco),
    var(--brown-opaco)),
              url("https://lh3.googleusercontent.com/u/0/d/1buyrrvFaMCtsZUh86R_ebQR_IMv5ulnS") center / cover no-repeat !important;
                   
  font-family: var(--fuente-principal);
}

/* ================= PRODUCTOS ================= */

.products-section, .process-section{
  background: linear-gradient(135deg,
    var(--night-opaco),
    var(--offwhite)) ;
}

h4,h6{
  font-style: normal;
  color: var(--night);
}

h2{
  color: var(--offwhite);
}

.card-img-top{
  height: 180px;    
  width: 100%;
  object-position: center;
}

.h-100 {
  height: 100%;
  color: #f2a23a10;
}

.products-section .card {

  border: none;
  transition: transform 0.3s ease;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
}

.products-section .card:hover {
  transform: translateY(-6px);
}

/* ================= FLECHAS CARRUSEL que se muestren fuera de cards ================= */
.carousel-control-prev{
display: flex;
align-items: center;
justify-content: flex-start; 
flex-wrap: wrap;;
}


.carousel-control-next {
display: flex;
align-items: center;
justify-content: flex-end; 
flex-wrap: wrap;
}



/* Estilo flechas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--night-opaco);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 45% 45%;
}

/* ============== POR QUE ELEGIRNOS =================*/

svg {
  color: var(--orange);
  margin-right: 6px;
}


/* ============== PROCESO =================*/
.video {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
}

.process-videos {
  max-width: 1000px;
  margin: 0 auto;
}

/* Tamaño reducido */
.video-small {
  max-width: 320px;
}

/* Mobile */
@media (max-width: 767.98px) {
  .video-small {
    max-width: 70%;
    margin: 10px auto;
  }
}


/* ================= MOBILE ================= --*/
 

/* Menos de 577px → desactivar carrusel y mostrar solo las 4 cards del primer slide */
@media (max-width: 767px) {
 
  .hero-section {
    text-align: center;
  }

   /* Ocultar controles del carrusel */
  #productsCarousel .carousel-control-prev,
  #productsCarousel .carousel-control-next {
    display: none !important;
  }

  /* Ocultar todos los slides excepto el primero */
  #productsCarousel .carousel-inner .carousel-item {
    display: none;
  }

  #productsCarousel .carousel-inner .carousel-item:first-child {
    display: block;
  }

  /* Mostrar las cards en cuadrícula normal */
  #productsCarousel .carousel-inner .carousel-item:first-child .row {
    display: flex;
    flex-wrap: wrap;
  }

  #productsCarousel .carousel-inner .carousel-item:first-child .col-md-3 {
    flex: 0 0 50%; /* 2 por fila en pantallas pequeñas */
    max-width: 50%;
  }
}

/* ================= RESEÑAS ================= */

.reviews-section {
  
  margin: 50px;

}

.review-card, 
.subscribe-card {
  max-width: 420px;
  border-radius: 20px;
  background: #f2f0f1;
  border: none;
}

.review-text {
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.7;
}

.review-author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.review-author img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.review-author strong {
  color: var(--offwhite);
}

.stars {
  color: var(--gold);
  font-size: 0.9rem;
}


/* Suscripción */


.subscribe-card {
  max-width: 350px;
  border-radius: 20px;
  border: none;

}

.sub-text{
  color: var(--night);
}

/* Mobile */
@media (max-width: 768px) {
  .review-card,
  .subscribe-card {
    margin: 0 auto 40px;
  }

  .reviews-section h4 {
    text-align: center;
  }
}